<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your News</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Share your news with thousands of web developers accross the world. Fill our form to get
            started.</p>
    </div>
</div>


<div class="row justify-content-center">


    <% if(infoSubmitObj !='' ) { %>
        <div class="col-8 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
        <% } %>

            <% if(infoErrorsObj !='' ) { %>
                <div class="col-8 alert alert-danger" role="alert">
                    <%= infoErrorsObj[0].message %>
                </div>
                <% } %>

                    <div class="col-8">
                        <form action="/FeedBack/submit-feedback" enctype="multipart/form-data" method="POST">

                            <div class="row g-3">

                                <div class="col-12">
                                    <label for="name" class="form-label">Your Name</label>
                                    <input type="text" name="name" id="name" class="form-control" required>
                                </div>

                                <div class="col-12">
                                    <label for="description" class="form-label">FeedBack Description</label>
                                    <textarea name="description" id="description" class="form-control" cols="30"
                                        rows="4"></textarea>
                                </div>

                                <div class="col-12">
                                    <label for="image">ScreenShots/Image</label>
                                    <input type="file" class="form-control" name="image" accept="image/*">
                                </div>

                                <div class="col-12">
                                    <label for="date" class="form-label">Submitting Date</label>
                                    <input type="text" name="date" id="date" class="form-control" required>
                                </div>
                                <div class="col-12">
                                    <label for="time" class="form-label">Submitting Time Around</label>
                                    <input type="text" name="time" id="time" class="form-control" required>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit FeedBack</button>
                                </div>

                            </div>

                        </form>

                    </div>
</div>