<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="assets/Logo (2).png">
    <link rel="stylesheet" href="style.css">
</head>
<body>

   <main> -->
    

       <div class="row">
           <div class="wrapper">
               <div class="col-2">
                   <div class="section-1">
                       <div class="warpper-section-1">
                           <div class="content">
                               <div class="image">
                                   <img src="assets/Headshot (1).png" alt="">
                               </div>
                               <% if(userById != '') { %>
                                <% userById.forEach(function(Users, index){ %>
                               <p class="header-name"><%- Users.username %></p>
                               <p class="description"><%- Users.email %></p>
                               <p class="description"><%- Users.gender %></p>
                               <p class="description last"><%- Users.address %></p>
                               
                                <% } else { %>
                                <p>No items found.</p>
                                <% } %>
                            </div>
                       </div>
                   </div>
                   <div class="wrapper">
                    <div class="wrapper-2">

                            <div class="top">
                                <div class="image">
                                    <img src="assets/Headshot (1).png" alt="">
                                </div>  
                                <textarea name="" id="" cols="20" rows="4" placeholder="Write some think..."></textarea>
                            </div>

                        </div>
                        <div class="bottom">
                                <div class="wrapper">
                                    <ul>
                                        <li>
                                            <i class="fas fa-image"></i>
                                            <p>Photo</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-video"></i>
                                            <p>Video</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i>
                                            <p>Event</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-newspaper"></i>
                                            <p>Article</p>
                                        </li>
                                        <li>
                                            <i class="far fa-paper-plane"></i>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                </div>
                <div class="section-2">
                    <div class="wrapper">
                        <div class="wrapper-2">
                            <div class="row-1">

                                <div class="image">
                                    <img src="assets/Headshot (1).png" alt="">
                                </div>
                                <div class="text">
                                    <p class="name">Jacqueline M. Smith</p>
                                    <p class="date">Sep 19, 2021</p>
                                </div>

                            </div>
                            <div class="row-2">
                                <div class="wrapper">
                                    <p>
                                        Computer program
                                    </p>
                                </div>
                            </div>
                            <div class="row-3">
                                <div class="wrapper">
                                    <div class="image">
                                        <img src="assets/Rectangle 9 (3).png" alt="">
                                    </div>
                                    <div class="button">
                                        <div class="wrapper">   
                                            <i class="far fa-thumbs-up"></i>
                                            <i class="far fa-comment"></i>  
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-4">
                                <div class="wrapper">
                                    <div class="comment">
                                        <div class="image">
                                            <img src="assets/Headshot (1).png" alt="">
                                        </div>
                                        <input type="text" placeholder="Write a comment...">
                                        <div class="mic-photo">
                                            <i class="fas fa-microphone"></i>
                                            <i class="fas fa-image"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="wrapper-2">
                            <div class="row-1">

                                <div class="image">       
                                    <img src="assets/Headshot (1).png" alt="">
                                </div>
                                <div class="text">
                                    <p class="name">Amanda J. Spencer</p>
                                    <p class="date">Nov 21, 2021</p>
                                </div>

                            </div>
                            <div class="row-2">
                                <div class="wrapper">
                                    <p>
                                        Traveling
                                    </p>
                                </div>
                            </div>
                            <div class="row-3">
                                <div class="wrapper">
                                    <div class="image">
                                        <img src="assets/Rectangle 9 (6).png" alt="">
                                    </div>
                                    <div class="button">
                                        <div class="wrapper">   
                                            <i class="far fa-thumbs-up"></i>
                                            <i class="far fa-comment"></i>  
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-4">
                                <div class="wrapper">
                                    <div class="comment">
                                        <div class="image">
                                            <img src="assets/Headshot (1).png" alt="">
                                        </div>
                                        <input type="text" placeholder="Write a comment...">
                                        <div class="mic-photo">
                                            <i class="fas fa-microphone"></i>
                                            <i class="fas fa-image"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
        

    <!-- </main>
    </body>
</html> -->