<h1 class="pb-4">Search Results</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(news != '') { %>
    <% news.forEach(function(news, index){ %>
    <a href="/news/<%= news._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= news.image %>" alt="<%= news.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= news.name %></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div>