<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Update Job Details</h1>
</div>

<div class="row justify-content-center">


    <div class="col-8">

        <form action="/update-mediarecord/<%= updateMedia._id %>" enctype="multipart/form-data" method="POST">

            <input type="hidden" name="_id"  value="<%= updateMedia._id %>">

            <div class="row g-3">
                <div class="col-12">
                    <label for="description" class="form-label">Job Titile</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%= updateMedia.name %>" required>
                </div>

                <div class="col-12">
                  <label for="description" class="form-label">Job Descrition</label>
                  <input type="text" name="description" id="description" class="form-control" value="<%= updateMedia.description %>" required>
              </div>
                

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update </button><br/><br/><br/><br/><br/>
                </div>

            </div>

        </form>

    </div>
</div>

</div>